<?xml version="1.0" encoding="utf-8"?>
<!-- Web.config transformation for PROD environment -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="Environment" value="PROD" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<!-- PROD-specific GCP project -->
		<add key="GcpProjectId" value="prj-tar-bks-prod-01" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	</appSettings>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>
</configuration>